.cards {
    width: 28%;
    text-align: center;
    position: relative;
    margin: 30px;
 
}

.cards img {
    width: 100%;
    filter: grayscale(40%);
}

.cards img:hover {
    opacity: 0.5;
    filter: grayscale(60%);
    transition: 0.3s;
}

.cards .location {
    color: rgb(205, 141, 149);
    font-size: 1.5rem;
}

.cards button{
    position: absolute;
    top: 50%;  
    left: 35%;  
    transform: translate(-50%, -50%); 
    z-index: 1;  
}

.cards .days {
    background-color: white;
    opacity: 0.8;
    padding: 1.5%;
    position: absolute;
    top: 70%;  
    left: 40%;  
    transform: translate(-50%, -50%);  
    z-index: 1; 
}
.cards .cost {
    background-color: white;
    opacity: 0.8;
    padding: 1.5%;
    position: absolute;
    top: 70%;  
    left: 60%;  
    transform: translate(-50%, -50%);  
    z-index: 1; 
}

.cards .add{
    left: 60%;  
}
.cards button {
    background-color: rgb(205, 141, 149);
    color: white;
    border: 2px solid rgb(205, 141, 149);
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.cards span {
    color: rgb(115, 158, 167);
}

.cards button:hover {
    background-color: rgb(115, 158, 167);
    color: white;
    border: 2px solid rgb(115, 158, 167);
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
}
