 
img {
    width: 100%;
    max-width: 100%;
    /* height: 80vh; */
}
.first-image{
    height: 95vh;
    filter: contrast(80%);
    /* filter: grayscale(80%); */
}
.content{
    position: absolute;
    top: 50%;
    text-align: center;
    /* align-items: center; */
    left: 35%;
    color: white;
}

.content .search-package{
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(205, 141, 149);
    color: white;
    cursor: pointer;
}

.content .search-package:hover {
    background-color: rgb(115, 158, 167);
  }
  